.guilienhethanhcong{
	text-align: center;
	margin:auto;
	width: 600px;
	img{
		margin-bottom: 40px;
	}
	h4{
		margin-bottom: 20px;
	}
	a{
		display: inline-block;
		margin-top: 20px;
		padding:12px 34px;
		text-decoration: none;
		text-transform: uppercase;
		color:#fff;
		background: $mauxanh;
		margin-bottom: 60px;
		border-radius: 999px;
	}
}