.modul-dichvu{
    .modul-dichvu_row{
        margin-bottom:20px;
        &:nth-child(2){
            display:flex;
           flex-direction:row-reverse;
        }
    }
    .modul-dichvu_img{
        img{width:100%;
            height:342px;
        }
    }
    .modul-dichvu_desc{
        background:#f6f6f6;
       display:flex;
       flex-direction:column;
       justify-content:center;
       padding:70px 50px;
       p{
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 3;
    height: 75px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
       }
        a{
         display: inline-block;
          padding: 12px 26px;
           background: $mauxanh;
           text-decoration: none;
           color: #fff;
            font-size: 15px;
             border-radius: 999px;
             margin-bottom: 30px;
             width:133px;
            &:hover{
            opacity:.75;
            }
        }
    }
    .paging{
        margin-top:20px;
        margin-bottom:60px;
    }
}
@media (max-width: 1024px){
  .modul-dichvu .modul-dichvu_img img {
    width: 100%;
    height: auto;
}
}